doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    ul
      li 
        a(href='../index') Index
      li 
        a(href='../pais') Pais
  body
    block content