extends includes/head

block content
  a(href='#') 
    h1= title 
    br
  div Comunidad social con una organización política común y un territorio y órganos de gobierno propios que es soberana e independiente políticamente de otras comunidades.
  br
  div Las entidades son: CP, nombre, población total, extensión territorial, capital.

  h2 Codigo postal:
  p Son una serie de números o letras que se añaden a una dirección para clasificar los envíos de correo postal. 

  h2 Nombre:
  p Nombre del país.

  h2 Población total:
  p Cantidad de habitantes.

  h2 Extensión territorial:
  p Distancia total del territorio un país. 

  include includes/footer